
body, html {
  min-height: 100%;
  overflow: auto;
}

#main-container {
  min-height: 100%;
  overflow: auto;
  .navbar {
    margin-bottom: 0px;
  }

  .main-app-page{
    min-height: 100%;
    overflow: auto;

    .navbar-header{
      display: inline-flex;
      padding-top: 5px;

      #title {
        color:black;
      }

      .nav {
        display:inline-flex;
        vertical-align: middle;
        padding-top: 5px;

      }
      .nav-link {
        &.first-left{
          border-left-color: #a29090;
          border-style: double;
          border-bottom: none;
          border-right: none;
          border-top: none;
        }
        padding-top: 15px !important;
        font-style: normal;
        color: #796666;
      }
    }

    .content {
      min-height: 100%;
      overflow: auto;
      .greeting {
        h2 {
          padding-top: 2%;
          padding-left: 35%;
        }

        div {
          display: inline-block;
          // div {
          //   padding-top: 2%;
          //   padding-bottom: 2%;
          //   padding-left: 3%;
          // }
        }

        .paragraf {
          padding-left: 10%;
          padding-right: 10%;
          padding-top: 30px;
          padding-bottom: 0px;
          font-size: 18px;
        }
      }
    }
  }
}
