@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.content {

    min-height: 100% !important;

    h3 {
      margin-bottom: 30px;
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      letter-spacing: 1px;
      word-spacing: 10px;
    }
    .content-image-related{
      padding: 20px;
      padding-top: 5px;
      min-height: 100%;
      overflow: auto;
    }

    .wrap-content {
      min-height: 100%;
      overflow: auto;

      .top-content{
          padding: 10px;
          width: 100%;

          .image-gallery {
              width: 30%;
              min-height: 202px;
              display: table-cell;
              vertical-align: middle;

              .image-gallery-image {
                max-width: 350px;
                img {
                  min-width: 350px;
                  min-height: 250px;
                  max-height: 500px;
                  width: 80%;
                }

              }

          }
          .text-portrait-slide {
              padding-top: 0px !important;
              display: table-cell;
              padding-left: 7%;
              width: 40%; // restrict the width for portraits

              vertical-align: middle;

              label {
                  margin-left: 30px;
                  display: table;
                  margin-top: 20px;
                  font-weight: normal;

                  &.first{
                      // font-weight:bold;
                      text-decoration: underline;
                      font-size: 16px;
                      margin-left: 0px;
                      margin-top: 50px;
                  }
              }
          }
          .button-section{
            vertical-align:bottom;
            display: table-cell;
            width: 2%;
            min-width: 176px;
            margin: 0px;
            border:0px;
            padding: 0px;

            .system-ap {
              display:inline-block;
              background-color: rgba(128, 128, 128, 0.34);
              margin-top: 6%;
              margin-right: 14%;
              // margin-left;
              text-align: center;
            }

            .alert-success {
              color: #1ab31d;
            }

            .alert-danger {
              color: #de2a27;
            }

            .button {
              width: 110px;
              height: 60px;
              font-family: sans-serif;
              -webkit-border-radius: 28;
              -moz-border-radius: 28;
              border-radius: 28px;
              color: #0a090a;
              background: #e4e8eb;
              border: solid #798287 2px;
              text-decoration: none;
              margin-left: 14%;

            }
          }
      }

      .images-content {
          padding-top: 2%;
          overflow: auto;

          // #ReactGridGallery {
          //   background-color: blue;
          //
          //   .tile-viewport {
          //     height:auto !important;
          //
          //     img {
          //       height: auto !important;
          //     }
          //   }
          // }

          .loader {
            padding-top: 2%;

          }

          .imagegrid {

            .imageGridItem {
              max-width: 25%;
            }
          }

          .annotations {
            div {
              div {
                .tile-icon-bar {
                  opacity: 0!important;
                }
                .custom-overlay {
                  // pointer-events: auto !important;
                  opacity: 1 !important;

                  div {
                    pointer-events: auto !important;

                    .left {
                      width: 70px;
                      height: 30px;
                    }
                    .right {
                      float: right;

                      width: 70px;
                      height: 30px;
                    }
                  }

                }
              }
            }
          }

          .loader{
            display: list-item;
            height: 10%;
            margin-left: 50%;
          }
      }

      .footer-content{
          padding-left: 1%;
          padding-right: 1%;

          .loader{
            display: list-item;
            height: 10%;
            margin-left: 50%;
          }
      }
    }
}
