.full-container {
    &.white{
      background-color:transparent !important;
    }
  	background-color: rgba(250, 250, 250, .9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .popup-body {
      	width: 444px;
      	height: 200px;
        background-color: rgba(250, 250, 250, .6);
        background-color: white;
      	border-radius: 2px;
      	border: solid 1px #b9b9b9;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;

        .text-container {
            display: block;
            height: 130px;
            width: 100%;
            line-height: 130px;
            text-align: center;
            font-size: 16px;
            // @extend .select-text;
        }

        .loader-container {
            margin-left: 48%;
        }
    }
}
